<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
<!--    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>-->
<!--    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>-->
<!--    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>-->
    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.English"
        tools:targetApi="31">
        <activity
            android:name=".Activity_HomeMenu"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Numofquestion"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <service android:name=".BroadcastService_Quiz"/>
        <service android:name=".BroadcastService_Correctword"/>
        <activity android:name=".Vocabulary" />
        <activity android:name=".Grammar" />
        <activity android:name=".Revise_PhuongDong.ReviseVocabulary" />
        <activity android:name=".Revise_PhuongDong.ReviseSpeaking"/>
        <activity android:name=".Revise_PhuongDong.ReviseReading"/>
        <activity android:name=".Revise_PhuongDong.ReviseListen"/>
        <activity android:name=".Revise_PhuongDong.Result"/>
<!--        <activity android:name=".Vocabulary"/>-->
<!--        <activity android:name=".Grammar"/>-->
<!--        <activity android:name=".U1_Vocabulary"-->
<!--            tools:ignore="DuplicateActivity" />-->
        <activity android:name=".U2_Vocabulary"/>
        <activity android:name=".U3_Vocabulary"/>
        <activity android:name=".U4_Vocabulary"/>
        <activity android:name=".U5_Vocabulary"/>
        <activity android:name=".U6_Vocabulary"/>
        <activity android:name=".U7_Vocabulary"/>
        <activity android:name=".U8_Vocabulary"/>
        <activity android:name=".U9_Vocabulary"/>
        <activity android:name=".U10_Vocabulary"/>
        <activity android:name=".U11_Vocabulary"/>
        <activity android:name=".U12_Vocabulary"/>
        <activity android:name=".U13_Vocabulary"/>
        <activity android:name=".U14_Vocabulary"/>
        <activity android:name=".U15_Vocabulary"/>

        <activity android:name=".U2_Grammar"/>
        <activity android:name=".U3_Grammar"/>
        <activity android:name=".U4_Grammar"/>
        <activity android:name=".U5_Grammar"/>
        <activity android:name=".U6_Grammar"/>
        <activity android:name=".U7_Grammar"/>
        <activity android:name=".U8_Grammar"/>
        <activity android:name=".U9_Grammar"/>
        <activity android:name=".U10_Grammar"/>
        <activity android:name=".activity_ketqua"/>
        <activity android:name=".Listening"/>
        <activity android:name=".Activity_correctword"/>
        <activity android:name=".Activity_highscores"/>
        <activity android:name=".Activity_Quiz"/>
    </application>

</manifest>